# Example .gitignore file for your home assistant dir.
# An * ensures that everything will be ignored.
*

# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md
!www/images/*
!sensors
!sensors/*
!.storage
!.storage/lovelace*
!.storage/lovelace.*
!.storage/lovelace_*

# Ignore folders.
.storage/*
.cloud
.google.token
blueprints
custom_components
deps
esphome
image
images
themes
tts
ssl
www

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
.HA_VERSION
home-assistant.log
home-assistant.log.1
home-assistant.log.fault
home-assistant_v2.db
home-assistant_v2.db-shm
home-assistant_v2.db-wal