# Example .gitignore file for your home assistant dir.
# An * ensures that everything will be ignored.
*

# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md
!www/images/*
!sensors
!sensors/*
!binary_sensors
!binary_sensors/*
!automation
!automation/*
!camera
!camera/*
!input
!input/*
!utility_meter
!utility_meter/*
!lovelace-ui
!lovelace-ui/*
!shell_commands
!shell_commands/*
!rest_commands
!rest_commands/*


# Ignore folders.
.storage/*
.cloud
.google.token
blueprints
custom_components
deps
esphome
image
images
themes
tts
ssl
www

# Ensure these (YAML) files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
googleassistant_serviceaccount.json
includes/googleassistant_serviceaccount.json
.google.token
.spotify-token-cache
.sonoff.json
.ip_authenticated.yaml
google_calendars.yaml
notify.yaml

.HA_VERSION
home-assistant.log
home-assistant.log.1
home-assistant.log.fault
home-assistant_v2.db
home-assistant_v2.db-shm
home-assistant_v2.db-wal

# Ignore Python cache files
__pycache__/
